:local(.root) {
    width: calc(100% - 2em);
    max-height: calc(100% - 2em);
    height: fit-content;
    overflow: auto;
    display: grid;
    grid-auto-flow: row;
    row-gap: 0.5em;
    align-items: flex-start;
    padding: 1em;
}
